.vehicle {
  display: flex;
  background-color: rgb(30, 26, 26);
  box-shadow: 4px 9px 20px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 9px 20px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 9px 20px -2px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  color: gray;
  margin-top: 20px;
  .left {
    flex: 1;
    border-radius: 15px;
    color: white;

    padding: 10px;
    background-color: rgb(21, 19, 19);
    .title {
      font-size: 14px;
      color: gray;
    }
    .wrapper {
      display: flex;
      flex-direction: column;

      font-size: 13px;
      .topSide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .boxsmall {
          background-color: #333;
          padding: 10px;
          border-radius: 10px;
          width: 40%;
          height: 80px;
        }
      }
      .center {
        margin-top: 5px;
        display: flex;
        background-color: #333;
        border-radius: 10px;
        padding: 15px;
        .wrappers {
          width: 100%;
          gap: 50px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }
      .bottom {
        margin-top: 5px;
        display: flex;
        background-color: #333;
        border-radius: 10px;
        .wrapper {
          display: flex;
          flex-direction: row;
          padding: 15px;
          gap: 15px;
          .iconBox {
            background-color: rgb(24, 22, 22);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            padding: 5px;
          }
        }
      }
    }
  }
  .right {
    flex: 2;
    padding: 20px;
    .wrapper {
    }
  }
}
