.box {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(21, 20, 28) 0%, rgb(29, 29, 48) 83%);

  display: flex;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  box-shadow: 3px 4px 10px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 10px 3px rgba(0, 0, 0, 0.75);
}
